<mat-sidenav-container class="sidenav-container">


    <mat-sidenav-content>

        <mat-toolbar color="primary">
            <mat-toolbar color="primary">
                <button
                  type="button"
                  aria-label="Toggle sidenav"
                  mat-icon-button
                  (click)="drawer.toggle()"
                  >
                  <!-- *ngIf="isHandset$ | async" -->
                  <mat-icon class="toggle-icon" aria-label="Side nav toggle icon">menu</mat-icon>
                </button>
                <div class="title-header"><b>Fundoo</b> Notes</div>
              </mat-toolbar>

            <mat-sidenav
            #drawer
            class="sidenav"
            fixedInViewport="true"
            [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
            [mode]="(isHandset$ | async) ? 'over' : 'side'"
            [opened]="!(isHandset$ | async)">
            
              <mat-nav-list>
                <a mat-list-item href="#">Notes</a>
                <a mat-list-item href="#">Reminders</a>
              </mat-nav-list>
            </mat-sidenav>



          
        </mat-toolbar>
      </mat-sidenav-content>


</mat-sidenav-container>




