@import "../../../scss/mixin.scss"; 
@import "../../../scss/variables.scss";
@import "../../../styles.scss";

 .sidenav-container {
  height: 100%;
  width: 100%;
  position: fixed;
  background-color: $white_color;
}
.mainTitle{
  margin-left: 10px;
  
}
.mat-toolbar-row, .mat-toolbar-single-row {
  height: 55px;
  background: $yellow_color ;
  // margin-top: -8px;
  // margin-left: -8px;
  // margin-right: 10px !important;
  // margin-right: 10px;
}

.sidenav {
  overflow-y: scroll;
  width: 215px;
  margin-top: 63px;
  background-color: $white_color;
}
.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  
}
.mat-drawer.mat-drawer-side {
  top:0;
  height:100%;
}
.imageColor{
  opacity: $opacity_property;
}
.title-header{
padding-left: 30px;
color:$black_color;
padding-right: 32px;
}
.toggle{
  color: $black_color;
  opacity: $opacity_property;
  position:absolute
}
.searchBar{
  @include searchBar();
}
.searchSmallBar{
  @include searchBar();
  width:200px;
}
.hideSearch{
    height:  $height;
    width: 243px;
    margin-left: -235px;
    color: $black_color;
    opacity: $opacity;
    background-color: $yellow_color;
    border-radius: 5px;
    font-size: 20px;
  }
input:focus{
  background-color: $white_color;
}

.material-icons{
  font-size: 28px;
  margin-right: 9px;
  color: $black_color;
  opacity: $opacity_property;
  cursor: $cursor_type;

}.search{
  @include searchBar();  
}
.searchSmall{
  height: $height;
  @include searchBar();
  width:200px;
}
/***************************************************************************************/
.toolbar{
  background: $yellow_color ;
  width: 100%;  
}
.title{
  padding-right: 50px;
  padding-left: -1px;
}
.list-icon{
  padding-left: 5px;
  padding-right: 15px;
}
.icons{
  color: $black_color;
  opacity: $opacity;
  cursor: $cursor_type;
  align-items: center;
}
.basic{
  height: 33%;
  width: 23%;
  margin-right:40%;
  margin-left: 79%;
}

.sign-out-card {
  z-index: 1;
  position: absolute;
  right: 20px;
  top: 55px;
  border-radius: 2.5%;
  width: 220px;
  height: 127px;
}
.createLabelIcon{
  opacity: $opacity;
  font-size: 166%;
  margin-left: 5%;
  cursor: $cursor_type;
}
.editLabel{
  margin-top: 2%;
  cursor: $cursor_type;
}
button.active {
  color: $green_color;
}
.profilePicIcocn{
  height: 80px;
  width: 80px;
  margin-left: -15px;
  margin-top: -15px;
}
.signOutCardTitle{
  margin-left: 40px;
}
 .textInImage{
  background: $black_color;
  background: $black_color;
  margin-top: 46px;
  color: $black_color;
  width:50px; 
  height:50px; 
  border: none;
  border-radius: 50%;
  background: transparent;
  outline:none;
 }

 .smallSearch{
   margin-left: 40px;
 }
 .searchSmallBarTry{
   width: 135px;
   height: $height;
   color: $black_color;
   opacity: $opacity;
   background-color: $yellow_color;
   border:0px;
   border-radius: 5px;
   font-size: 20px;
 }
 .sideNavLabels{
  white-space: nowrap;
  text-overflow:ellipsis;
  overflow:  hidden !important;
  width:70px;
 }
 .mainTitleLabels{
  @include mainTitleLabels();
 }
 .searchIcon{
  margin-top: 10%;
 }
 .smallerSearchIcon{
  // padding-top: 330%;
 }




