<!-- --------------------------------- Toolbar Starts----------------------------------->

<!-----------------------------mattoolbar starts --------------------------------->
<div fxLayout="row">
  <!-- <div> -->
      <mat-toolbar>

    <!------------------ toggle initiates --------------->
    <div fxFlex.xl = "5" fxFlex.lg="5" fxFlex.md="5" fxFlex.sm="10" fxFlex.xs="15">
      <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
    </div>
    <!-------------------- toggle ends -------------------->

    <!----------------- headers starts ----------------------->
    <div *ngIf="clickOnSearch" fxFLex.xl="10" fxFlex.lg="10" fxFlex.md="10" fxFlex.sm="20" fxFlex.xs="30">
      <span (click)="navigate()">{{header}}</span>
    </div>
    <!---------------- headers ends -------------------------->
    <!-----------------------searchbar --------------------------->
    <div fxFLex.xl="40" fxFlex.lg="40" fxFlex.md="40" fxFlex.sm="50" class="searchBar" fxShow fxHide.xs="true">
      <div fxFlex="100%">
        <div fxFlex.xl=" 10" fxFlex.lg=" 10" fxFlex.md="10" fxFlex.sm="10"><i class="material-icons searchIcon">search </i></div>
        <!-- <div> -->
        <input fxFlex.xl="90" fxFlex.lg="90" fxFlex.md="90" fxFlex.sm="90" class="search" type="input" [(ngModel)]="globalSearch"
          (keydown)="keySearch()" (click)="navigate()" placeholder="search">
        <!-- </div> -->
      </div>
    </div>
    <div fxFlex.xs="30"></div>

    <!----------------- searchbar for smaller devices -------------- ----->
    <div class="searchBar" fxHide fxHide.lg="true" fxShow.xs="true">
      <div fxFlex="100%">
        <div *ngIf="show">
          <input fxFlex.xs="90%" class="searchSmallBarTry" type="input" [(ngModel)]="globalSearch" 
          (keydown)="keySearch(); onEnterIcon($event) ; headerFundoo()"
            (click)="navigate() " placeholder="search">
        </div>
        <div fxFlex.xs="10%" (click)="show = !show ;clickOnSearch = !clickOnSearch">
          <i (click)="navigate()" class="material-icons smallerSearchIcon">search </i>
        </div>

      </div>
    </div>
    <!--------------------------------------------------------------->
    <div fxFLex.xl = "30" fxFlex.lg="30" fxFlex.md="30" fxFlex.xs="5"></div>
    <!------------------------pic icon and grid list ------------------->
    <div fxFLex.xl = "13" fxFlex.lg="13" fxFlex.md="13" fxFlex.sm="10" fxFlex.xs="30" fxLayout="row" fxLayoutAlign="space-around center">
      <div fxFlex.xl="50" fxFlex.lg="50" fxFlex.xs="50">
        <div class="icons">
          <div fxShow fxHide.xs="true">
          <button mat-icon-button matTooltip="listView" (click)="cardsInList()" *ngIf="grid == 0">
            <mat-icon>view_stream</mat-icon>
          </button>
          </div>
          <div>
          <button mat-icon-button matTooltip="gridView" (click)="cardsInGrid()" *ngIf="grid == 1">
            <mat-icon>apps</mat-icon>
          </button>
          </div>
        </div>
      </div>
      <!----------------------- Profile pic icon -------------------------->
      <div  fxFlex.xl="50"  fxFlex.lg="50" fxFlex.xs="50">
        <button *ngIf="newimage2 == ''" mat-mini-fab (click)="clicked=!clicked ;" style="background-color: bisque; color: black;">
          {{firstName | slice:0:1}}
        </button>

        <button *ngIf="newimage2 != ''" mat-mini-fab [ngStyle]="{'background-image': 'url(' + img + ')','background-size':'cover'}"
          (click)="clicked=!clicked ;" style="background-color: bisque; color: black;">
        </button>
      </div>
    </div>
    <!--------------------------------------------------------------------->
    <div fxFlex.xl="2" fxFlex.lg="2" fxFlex.md="2" fxFlex.sm="2" fxFlex.xs="5"></div>
  </mat-toolbar>
</div>
<!---------------------------mattoolbar ends --------------------------------------->

<!-------------------------sidenavigationbar starts --------------------------------->

<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport="true" [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="(isHandset$ | async)">
    <mat-nav-list>
      <br>
      <a class="mainTitle" (click)='changeHeader("Fundoo")' mat-list-item routerLink='/home/notes'>
        <img class="imageColor" src="../../../assets/images/notes.svg">
        <div class="mainTitle">Notes</div>
      </a>
      <a class="mainTitle" (click)='changeHeader("Reminders")' mat-list-item routerLink="/home/remainders">
        <img class="imageColor" src="../../../assets/images/remainders.svg">
        <div class="mainTitle">Remainders</div>
      </a>
      <hr>
      <div class="mainTitleLabels">LABELS</div>
      <div *ngFor="let result of value; trackBy:result?.id" (click)="labelPage(result)">
        <a class="mainTitle" (click)='changeHeader(result.label)' mat-list-item>
          <mat-icon>label_outline</mat-icon>
          <span class="mainTitle" class="sideNavLabels">{{result.label}}</span>
        </a>
      </div>
      <a class="mainTitle" (click)=" openDialog()">
        <mat-icon class="mainTitle">
          create</mat-icon>Edit Labels
      </a>
      <hr>
      <a class="mainTitle" (click)='changeHeader("Archive")' mat-list-item routerLink="/home/archive">
        <img class="imageColor" src="../../../assets/images/archive.svg">
        <div class="mainTitle">Archive</div>
      </a>
      <a class="mainTitle" (click)='changeHeader("Trash")' mat-list-item routerLink="/home/trash">
        <img class="imageColor" src="../../../assets/images/trash.svg">
        <div class="mainTitle">Trash</div>
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content class="temp" fxFlex="100">
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>

<!-------------------------sidenavigationbar stops --------------------------------->

<!----------------------------- Profile image matcard starts---------------------------->
<div *ngIf="clicked" class="basic">
  <mat-card class="sign-out-card">
    <mat-card-header>
      <div mat-card-avatar (click)="selectImage.click()">
        <button class="profilePicIcocn" *ngIf="newimage2 != ''" mat-mini-fab (click)="$event.stopPropagation()"
          [ngStyle]="{'background-image':'url(' +img+ ')','background-size':'cover'}" (click)="selectFile.click()">
          <div class="textInImage">
            Change
          </div>
        </button>
        <button *ngIf="newimage2 == ''" mat-mini-fab (click)="$event.stopPropagation()" (click)="selectFile.click()">
          {{firstName | slice:0:1}}
          <div class="textInImage">
            Change
          </div>
        </button>
        <input style="display:none" (click)="$event.stopPropagation()" class="image" type="file" (change)="onFileSelected($event)"
          #selectFile>
      </div>
      <input (click)="$event.stopPropagation();" style="display:none" type="file" (change)="onFileSelected($event)"
        #selectImage>
      <mat-card-title class="signOutCardTitle"> <b>{{firstName}} {{lastName}}</b></mat-card-title>
      <mat-card-subtitle class="signOutCardTitle"><b>{{email}}</b></mat-card-subtitle>
    </mat-card-header>
    <mat-card-content></mat-card-content>
    <hr>
    <mat-card-actions fxLayoutAlign="space-between">
      <button mat-button routerLink="/registration">Add Account</button>
      <button mat-button (click)="signout()">Sign Out</button>
    </mat-card-actions>
  </mat-card>
</div>

<!----------------------------- Profile image matcard stops ---------------------------->
<!--------------------------- Toolbar ends ---------------------------- -->