<div display="flex" fxLayout="row wrap" fxLayoutAlign="space-around" (mouseover)="hover=true" style="margin-top:6vh">
    <div *ngFor="let note of card">
    <mat-card fxLayoutGap="2%" class="note-card" style="margin-bottom:12vh;" [style.backgroundColor]="note.color">
      <div>
            <b><div [innerHTML]="note.title"></div></b>
          <div> <img class="pinIcon" src="../../../assets/images/pin.svg" alt=""></div>
       
        </div>
            <div [innerHTML]="note.description"></div>
  
        <span class="iconInvisible">
          <div>
            <app-remind></app-remind>
            <app-collaborator></app-collaborator>
            <app-color ></app-color>
            <app-add-image></app-add-image>
            <app-add-archive></app-add-archive>
            <app-more></app-more>
          </div>
        </span>
      </mat-card>
    </div>
    </div>