.pinIcon {
    float: right;
    opacity: 0.5;
    padding-left: 450px;
    padding-top: 9px;
    margin-top: -38%;
    margin-right: -7%;
}
.note-card{
    cursor: pointer;
    border-radius:3%;
   
}
.note-card:hover .iconInvisible {
    visibility: visible;
}
  .hiddenDiv {
    padding: 10px;
}
  .icons {
    float: right;
    width: 40px;
    height: 40px;
    opacity: 0.5;
    margin-top: -17px;
    cursor: pointer;
  }

  [contentEditable=true]:empty:not(:focus):before{
    content:attr(data-text)
}
.container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-basis: auto;
} 

.take{
    margin-top: 13px;
}
.iconInvisible{
    visibility: hidden;
    /* padding-left:10px; */
}
.centerdiv{
    width:784px;
    background-color: aqua;
    position: fixed;
    margin-top: 3%;

}
.flex-container{
    display: flex;
    flex-wrap: wrap;
    margin:-10px;
    width:500px;
  /* flex-flow: row wrap; */
}
.collectionCards{
  margin-top:6vh;
  padding-bottom:5%;
  width:500px;
  align-self: center;
}
  .grid{
    margin-top: 20px;
    width:320px;
    word-wrap: break-word;
  }
//   .list[_ngcontent-c12] .note-card[_ngcontent-c12] {
//     flex:column; 
//     -lg-flex-item-align:center stretch;
//       width:1000px;
     
//   }
  .list 
  {
    margin-top: 20px;
    width:900px;
  }
  
//   .list[_ngcontent-c12] .pinIcon[_ngcontent-c12] {
//     margin-top: -7%;
//     margin-right: -3%;
//   }
  .noteCards{
    margin-top: 20px; 
    margin-bottom: 20px;
    
  }
  .iconCheckBox{
      margin-left: 8px;
  }
  .note{
    outline: none;
    border: none;
    margin-left: 10px;
  }
  .mat-checkbox-inner-container-no-side-margin {
    margin-left: 10px;
  }
  ::ng-deep.element.style {
    margin-left: 9px;
}

.chipListLabels{
    margin-top: 9px;
    margin-bottom: 10px;
}

.containerCard
{
    display: flex;
    
}
.labelChipAlign{
  margin-right: 2px;
}