@import "../../../scss/mixin.scss"; 
@import "../../../scss/variables.scss";
@import "../../../styles.scss";

.note-card{
    cursor: pointer;
    border-radius:3%; 
}
.note-card:hover .iconInvisible {
    visibility: visible;
}
  .hiddenDiv {
    padding: 10px;
}
  .icons {
    float: right;
    width: 40px;
    height: 40px;
    opacity: 0.5;
    margin-top: -17px;
    cursor: pointer;
  }

  [contentEditable=true]:empty:not(:focus):before{
    content:attr(data-text)
}
.take{
    margin-top: 13px;
}
.iconInvisible{
    visibility: hidden;
}
.centerdiv{
    width:784px;
    background-color: aqua;
    position: fixed;
    margin-top: 3%;

}
.flex-container{
    display: flex;
    flex-wrap: wrap;
    margin:-10px;
    width:500px;
}
.collectionCards{
  margin-top:6vh;
  padding-bottom:5%;
  width:500px;
  align-self: center;
}
  .grid{
    margin-top: 20px;
    width:260px;
    word-wrap: break-word;
    padding-left: 10px;
  }
  .list 
  {
    margin-top: 20px;
    width:700px;
    word-break: break-all;
    border-radius:3% !important;
    border-radius:1%
    
  }
  .noteCards{
    margin-top: 20px; 
    margin-bottom: 20px;
    
  }
  .iconCheckBox{
      margin-left: 8px;
  }
  .note{
    outline: none;
    border: none;
    margin-left: 10px;
  }
  .mat-checkbox-inner-container-no-side-margin {
    margin-left: 10px;
  }
  ::ng-deep.element.style {
    margin-left: 9px;
}
.containerCard
{
    display: flex;   
}
.labelChipAlign{
  margin-right: 2px;
}
.pinNotesHeaders{
  width: 100%;
 @include mainTitleLabels();

}
.labelsAlign{
  white-space: nowrap;
  text-overflow:ellipsis;
  overflow:  hidden !important;
  width:40px;
}
.mat-icon-button[_ngcontent-c16] i[_ngcontent-c16] {
  line-height: 24px;
  margin-top: 14% !important;
  margin-top: -3%;
}
.cardsAlignBottom{
  margin-bottom: 5%;
}
.reminderChipAlign[_ngcontent-c28] {
  margin-left: 23px;
  margin-top: 14px;
}
.collaboratorIconAlign{
  margin-right: 3%;
  margin-bottom: 2%;
}