<!--                  displaying notecards                        -->
<div fxFlex="column" fxFlex="5"></div>
<div fxFlex="column" fxFlex="0"class="noteCards" fxLayout="row wrap" fxLayoutGap="20px" 
    fxLayoutAlign="center center" flex-direction="row">
  <div fxFlex="0 1 calc(30% - 32px)" *ngFor="let note of cardAdded | LockFilter:globalSearch">
    <div [ngClass]="{ 'grid':condition, 'list': !condition }">
      <mat-card  (updateEvent)="messageDelete($event)" 
      fxLayoutGap="2%" class="note-card" style="margin-bottom:6vh;" [style.backgroundColor]="note.color">
          <b><div (click)="openDialog(note)" [innerHTML]="note.title"></div></b>
          <div> <img class="pinIcon" src="../../../assets/images/pin.svg" alt=""></div>
        <div (click)="openDialog(note)" [innerHTML]="note.description"></div>
        <div fxLayout="row" fxFlexAlign="end end">
        <div *ngFor="let labelChip of note.noteLabels" >
          <div *ngIf = "labelChip.isDeleted == false">
        <mat-chip-list >  <mat-chip >{{labelChip.label}}
            <mat-icon matChipRemove (click)="remove(labelChip.id, note.id)">cancel</mat-icon>
          </mat-chip>
        </mat-chip-list>
      </div>
        </div>
        </div>       
        <br><br>
        <!---------------  displaying icons   ------------------->
        <span>
          <div class="iconInvisible">
            <app-remind [reminder]="note"
                *ngIf="deleteNotesForever == delete"></app-remind>
            <app-collaborator *ngIf="deleteNotesForever == delete" ></app-collaborator>
            <app-color *ngIf="deleteNotesForever == delete" 
                [noteColorCard]="note" (emitColor)="messageDelete($event)"></app-color>
            <app-add-image *ngIf="deleteNotesForever == delete" ></app-add-image>
            <app-add-archive *ngIf="deleteNotesForever == delete" 
                [noteArchiveCard]="note" (emitArchive)="messageDelete($event)"></app-add-archive>
            <app-more [deleteNotesForever]="deleteNotesForever" 
                [noteDeleteCard]="note" (delete)="messageDelete($event)"></app-more>
          </div>
        </span>
      </mat-card>
    </div>
    </div>
    </div>


<div fxFlex="column" fxFlex="5"></div>


<!-- 
    style="align-self: center"
    style="margin-top:6vh;padding-bottom: 50%;"  fxLayoutGap="30px" -->