<div fxLayout="column">
  <div fxLayout="row" class="ecommerce_main">
    <mat-toolbar>fundooNotes</mat-toolbar>
  </div>
  <div fxLayout="row">
    <div fxFlex.lg="15" fxFlex.md="15" fxFlex.sm="20" fxFlex.xs="0"></div>
    <div fxFlex.lg="70" fxFlex.md="70" fxFlex.sm="60" fxFlex.xs="100" fxLayoutAlign="center center" class="ecommerce_header">
      <div> Which fundooNotes service package do you want?</div>
    </div>
    <div fxFlex.lg="15" fxFlex.md="15" fxFlex.sm="20" fxFlex.xs="0"></div>
  </div>
</div>