<div fxLayout="row" class="ecommerce_main">
  <mat-toolbar>
      <div class="signup-heading" fxlayout="row" fxLayoutAlign="flex-start">
          <div>F</div>
          <div>U</div>
          <div>N</div>
          <div>D</div>
          <div>O</div>
          <div>O</div>
      </div>
  </mat-toolbar>
</div>
<div fxLayout="column">
  <div fxLayout="row">
    <div fxFlex.lg="15" fxFlex.md="15" fxFlex.sm="20" fxFlex.xs="0"></div>
    <div fxFlex.lg="70" fxFlex.md="70" fxFlex.sm="60" fxFlex.xs="100" fxLayoutAlign="center center" class="ecommerce_header">
      <div> Which fundooNotes service package do you want?</div>
    </div>
    <div fxFlex.lg="15" fxFlex.md="15" fxFlex.sm="20" fxFlex.xs="0"></div>
  </div>

  <div fxLayout="row" class="cartAlign">
    <div fxFlex.lg="20" fxFlex.md="20" fxFlex.sm="20" fxFlex.xs="0"></div>
    <div fxFlex.lg="60" fxFlex.md="60" fxFlex.sm="60" fxFlex.xs="100" fxLayout.lg="row" 
        fxLayout.xs = "column"  fxLayoutAlign="space-around center" >
      <div *ngFor="let cart of cartArray">
          <mat-card class="shadowCart"  [ngClass]="cart.select ? 'selectedbelow' : 'belowcard'" >
            <div class="alignCart" >
        <mat-card [ngClass]="cart.select ? 'aboveCardSelected' : 'aboveCard'" 
        class="cartMatCard cartSize" (click)="clicked(cart)">
          <div class="priceAlign">$ {{cart.price}} per</div>
          <div class="priceAlign">Month</div>
          <div fxLayout="row" class=" card-title subTitle">{{cart.name | titlecase}}</div>
          <div>
              <ul class="cartOptions">
                  <li>Unlimited Wall Space</li>
                  <li>Nice Interface</li>
                  <li>${{cart.price}}</li>
                  <li> {{cart.description}}</li>
                </ul>
          </div>
              
                 
        </mat-card>
        <div (click) = "openEcommerceDialog(cart)" class="cartTitle">ADD TO CART</div>
      </div>
      </mat-card>
      </div>
    </div>
    <div fxFlex.lg="20" fxFlex.md="20" fxFlex.sm="20" fxFlex.xs="0"></div>
  </div>

