.container{
  height: 100vh;
  display : flex;
  align-items: center;
}

 .heading{
  font-size: 22px;

} 
 .subheading{
  font-size: 25px; 
}


.heading div:nth-child(1)
{
  color: blue;
}
.heading div:nth-child(2)
{
  color:red;
}
.heading div:nth-child(3)
{
  color:yellow;
}
.heading div:nth-child(4)
{
  color:blue;
}
.heading div:nth-child(5)
{
  color:green;
}
.heading div:nth-child(6)
{
  color:red;
}
/* }
.matcard{
  width:400px;
  height:500px;
} */
.password{
  width:100%;
}








