  .inputTitle {
    width: 80%;
    border: none;
    outline: none;
    margin-top: 7px;
    font-size: 15px;
    margin-left: 20px;   
  }
  .inputTitleNote {
    border: none;
    outline: none;
    width: 80%;
    font-size: 16px;
    font-weight: 600;
    cursor:text;
    margin-top: 4%;
    margin-left: -1%;
}
.inputNote{
    outline: none;
    border: none;
    cursor: text;
    width: 80%;
    font-size: 16px;
    padding-left: 10px;
    margin-left: 2%;
    word-wrap: break-word;
}
.pinIcon {
    float: right;
    opacity: 0.5;
    padding-left: 450px;
    margin-top: -3%;
    margin-right: 3%;
}
  .icons {
    float: right;
    width: 40px;
    height: 40px;
    opacity: 0.5;
    margin-top: -17px;
    cursor: pointer;
  }

  [contentEditable=true]:empty:not(:focus):before{
    content:attr(data-text)
}
.closeButton{
    float:right;
}


.iconCheck{
  margin-left: 9px;
}
.note{
  outline: none;
    border: none;  
}
.reminderChipAlign{
  margin-left: 23px;
  margin-top: 14px;
}
.mat-dialog-container {
  overflow: hidden;
}