@import "../../../scss/mixin.scss"; 
@import "../../../scss/variables.scss";

.takeNotes {
    height: 46px;
    height: 46px!important;
    margin-top:2px;
    padding: 4px;
    border-radius:7px;
    width: $width_align;

  }
  .alingingIcon{
      margin-top: 3%;
  }
  .reminderChipAlign{
      padding-right: 1%;
  }
  .inputTitle {
    @include inputTitle();
    margin-top: 7px;
    font-size: 15px;
    margin-left: 20px;   
  }
  .notesTitle{
      width: $width_align; 
  }
  .inputTitleNote {
    @include inputTitle();
    @include  inputNote();
    font-weight: 600;
    opacity: $opacity_property;
}
.inputNote{
    @include inputTitle();
    @include  inputNote();
    padding-left: 10px;
}
.pinIcon {
    float: right;
    opacity: $opacity_level;
    padding-top: 5px 0px 0px 450px;
}
.hiddenDiv {
    padding: 10px;
}

[contentEditable=true]:empty:not(:focus):before{
    content:attr(data-text)
}

.hiddentakeNotes {
    width: 100%;
    position: relative;
    margin: auto;
    border-radius:7px;
    padding: 5px;
    margin-bottom: 5px;
  }
  .card{
    width:550px;
    @include card_align();
}
.replaceTheCard{
    margin-bottom: 5%;
}
.closeButton{
    float:right;
}
.take{
    margin-top: 13px;
}
.noteCardIcon{
    margin-top: 5%;
}
::ng-deep.addIcon{
    opacity: $opacity_property;
    margin-top: 19px;
    margin-left: 12px;
    font-size:17px;
}
.listItem{
    margin-top: 4%;
   @include listItem();
}
.cancel{
    cursor: $cursor_type;
}
.note{
    @include listItem();
}
.mat-chip-list-wrapper .mat-standard-chip, .mat-chip-list-wrapper input.mat-input-element {
    margin: 4px !important;
}
::ng-deep.mat-icon-button[_ngcontent-c16] i[_ngcontent-c16] {
    line-height: 24px;
    margin-top: 27%;
}

/********************************* Collaborator css **********************************/
.collaboratorHeader{
    border-bottom: $black_light;
    font-size: 18px;
    font-weight: 500;
    height: 40px;
    padding: 0 0 10px 0;
    }
    .header{
        margin: 10px;
        
    }
    ::ng-deep.mat-card-footer {
        display: block;
        margin: 49px -5px 0px -4px !important;
    }
    .imageIcon{
        // margin-left: $margin;
        margin-top: 2%;
        white-space:nowrap;
        text-overflow: ellipsis;
        overflow:  hidden !important;
    }
    .imageIcons{
        margin-top: 10px;
        // margin-left: $margin;
    
    }
    ::ng-deep.mat-dialog-container {
        display: block;
        padding: 24px;
        border-radius: 10px;
        box-sizing: border-box;
        overflow: hidden; 
        outline: 0;
        @include sidenav-container();
    }
    
    [contentEditable=true]:empty:not(:focus):before{
        content:attr(data-text)
    }
    
    .contentDiv{
        @include listItem()
    }
    
    .buttonsPlace{
    height: $height;
    background-color: $light_grey;
    }
    
    .buttonPlaceHolder{
        margin-left: 70%;
    }
    
    .header{
        margin: 2% 0% 0% 5%; 
    }
    
    .emailName{
        color: $grey_color;
        @include emailName();
    }
    
    ::ng-deep.mat-menu-panel {
        min-width: 112px;
        max-width: 430px; 
    }
    
    .doneIcon{
        margin-left: 110%;
    }
    
    .divider{
        margin-top: 5%;
    }
    
    .main{
    margin-bottom: 2%;
    }
    
    :host::ng-deep.mat-card-header-text {
        margin: 0 8px ; 
        margin: 0 0px !important;
    }