@import "../../../scss/mixin.scss"; 
@import "../../../scss/variables.scss";

.takeNotes {
    height: 46px;
    height: 46px!important;
    margin-top:2px;
    padding: 4px;
    border-radius:7px;
    width: $width_align;

  }
  .inputTitle {
    @include inputTitle();
    margin-top: 7px;
    font-size: 15px;
    margin-left: 20px;   
  }
  .notesTitle{
      width: $width_align; 
  }
  .inputTitleNote {
    @include inputTitle();
    @include  inputNote();
    font-weight: 600;
    opacity: $opacity_property;
}
.inputNote{
    @include inputTitle();
    @include  inputNote();
    padding-left: 10px;
}
.pinIcon {
    float: right;
    opacity: $opacity_level;
    padding-left: 450px;
    padding-top: 5px;
}
.hiddenDiv {
    padding: 10px;
}

[contentEditable=true]:empty:not(:focus):before{
    content:attr(data-text)
}

.hiddentakeNotes {
    width: 100%;
    position: relative;
    margin: auto;
    border-radius:7px;
    padding: 5px;
    margin-bottom: 5px;
  }
  .card{
    width:550px;
    border-radius:7px;
    position: relative;
    padding: 5px;
}
.replaceTheCard{
    margin-bottom: 5%;
}
.closeButton{
    float:right;
}
.take{
    margin-top: 13px;
}
.noteCardIcon{
    margin-top: 5%;
}
::ng-deep.addIcon{
    opacity: $opacity_property;
    margin-top: 19px;
    margin-left: 12px;
    font-size:17px;
}
.listItem{
    margin-top: 4%;
   @include listItem();
}
.cancel{
    cursor: $cursor_type;
}
.note{
    @include listItem();
}
.mat-chip-list-wrapper .mat-standard-chip, .mat-chip-list-wrapper input.mat-input-element {
    margin: 4px !important;
}
.collaboratorAlign{
    width: 450px;
}
