.collaborator{
    background-position: center;
    opacity: .54;;
    height: 30px;
    /* margin: 0 8px; */
    width: 30px;
    cursor: pointer;
    display: inline-block;
    outline: none!important;

}