@import "../../../scss/mixin.scss"; 
@import "../../../scss/variables.scss";

.qandaTitle{
    padding-bottom: 10px;
}
.qandaClose{ 
    float: right;
    margin-top: -2%;  
}
.qandaClosed{
    margin-top: -66%;
}
.qandaCard{
    margin-top: 1%;
    width:80%;
}
[contentEditable=true]:empty:not(:focus):before{
    content:attr(data-text)
}
.contentDiv{
    margin-top: 1%;
    @include inputTitle();
    background-color: $white_color;
}
.contentDiv2{
    @include inputTitle();
    background-color: $white_color;
    font-size: 145%;
    margin-top: -1%;
}
.profileFab{
    margin-top: 2%;
}
sup {
    vertical-align: super;
    font-size: smaller;
}
.replyIcon{
    margin-top: 1%;
}
.thumbsUp-icon{
    margin-top: 1%;
}