@import "../../../scss/mixin.scss"; 
@import "../../../scss/variables.scss";

.qandaTitle{
    padding-bottom: 10px;
}
.qandaClose{ 
    float: right;
    margin-top: -2%;  
}
// .qandaClosed{
//     margin-top: -66%;
// }
.qandaCard{
    margin-top: 10px;
}
[contentEditable=true]:empty:not(:focus):before{
    content:attr(data-text)
}
.contentDiv{
    margin-top: 1%;
    opacity: $opacity_property;
    @include inputTitle();
    background-color: $white_color;
}
// .superScript{
//     margin-top: 2%;
//     margin-left: -1%;
// }
.contentDiv2{
    @include listItem();
    background-color: $white_color;
    font-size: 135%;
    margin-top: -1%;
}
.contentDiv3{
    margin-top: -1%;
}
.secondReplyColor{
    color: $reply_color;
}
.thirdReplyColor{
    color:$green_light;
}
.profileFab{
    margin-top: 2%;
}
sup {
    vertical-align: super;
    font-size: x-small;
}
.replyIcon{
    margin-top: 1%;
}
.thumbsUp-icon{
    margin-top: 1%;
}
.scrollDivision{
    overflow-y: auto;
    height: 335px;
}
.thumbupCollab{
    margin-left: 5%;
}
.cardShadow{
    box-shadow: 10px 10px 10px grey;
}
.alignFirstReply{
    margin-left: -10%;
    margin-bottom: 1%;
}
.replyDivision{
    @include listItem();
}
.blueClass{
    margin-top: 1%;
}
.date_format{
    margin-left: 2%;
    opacity: $opacity_property;
}
.name_format{
    opacity: $opacity_property;
}
.date_name{
    margin-top: 2%;
}
.replies_text{
    font-size: x-small;
    margin-left: -1%;
}
.firstReply_division{
    margin-right: 2%;
}
.thirdReply_division{
    margin-right: 10%;
}