@import "../../../scss/mixin.scss"; 
@import "../../../scss/variables.scss";

.collaboratorHeader{
border-bottom: $black_light;
font-size: 18px;
font-weight: 500;
height: 40px;
padding: 0 0 10px 0;
}
.header{
    margin: 10px;
    
}
.imageIcon{
    margin-left: $margin;
    margin-top: 2%;
}
.imageIcons{
    margin-top: 10px;
    margin-left: $margin;

}
::ng-deep.mat-dialog-container {
    display: block;
    padding: 24px;
    border-radius: 10px;
    box-sizing: border-box;
    overflow: hidden; 
    outline: 0;
    @include sidenav-container();
}
[contentEditable=true]:empty:not(:focus):before{
    content:attr(data-text)
}
.contentDiv{
    @include listItem()
}
.buttonsPlace{
height: $height;
background-color: $light_grey;
}
.buttonPlaceHolder{
    margin-left: 70%;
}
.header{
    margin-left: 5%;
    margin-top: 2%;
}
.emailName{
    color: $grey_color;
    white-space:nowrap;
    text-overflow: ellipsis;
    overflow:  hidden !important;
}
::ng-deep.mat-menu-panel {
    min-width: 112px;
    max-width: 430px; 
}
.doneIcon{
    margin-left: 110%;
}
.divider{
    margin-top: 5%;
}
