<div class="remind" fxLayout="row" fxLayoutAlign="space-between">
    <!-------------------------  Reminder icon ----------------------------->
    <button mat-icon-button [matMenuTriggerFor]="menu">
        <div matTooltip="Remind Me" class="space">
            <i class="material-icons">touch_app</i>
        </div>
    </button>
    <!------------------------------------------------------------------------>

    <!----------------------- Reminder menu opens ---------------------------->
    <mat-menu #menu="matMenu" [overlapTrigger]="false" class="reminderMenu">
        <div *ngIf="show" class="reminderMenu">
            <div class="reminderHeader">
                Reminder:
            </div>

            <button mat-menu-item (click)="addRemindeToday()">
                <div fxFlex="20">Later today</div>
                <div fxFlex="60"></div>
                <div fxFlex="20"><span>8.00 PM</span></div>
            </button>

            <button mat-menu-item (click)="addRemindTomorrow()">
                <div fxFlex="20">Tomorrow</div>
                <div fxFlex="60"></div>
                <div fxFlex="20"><span>8.00 AM</span></div>
            </button>

            <button mat-menu-item (click)="addRemindNextWeek()">
                <div fxFlex="20">Next week</div>
                <div fxFlex="60"></div>
                <div fxFlex="20"><span>8.00 AM</span></div>
            </button>

            <button mat-menu-item (click)="$event.stopPropagation(); datePickReminder()">
                <div>
                    <mat-icon>query_builder</mat-icon>Pick Date and Time
                </div>
            </button>
        </div>

        <div *ngIf="!show" class="reminderMenu">
            <button mat-icon-button (click)="$event.stopPropagation(); backPressDatepicker()">
                <mat-icon class="pickHeader">keyboard_backspace</mat-icon>Pick Date and Time
            </button>
            <hr>
            <mat-form-field class="dateHeader">
                <input matInput [matDatepicker]="picker" placeholder="Choose a date">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>

            <div>
                <mat-form-field class="dateHeader" (click)="$event.stopPropagation()">
                    <mat-select placeholder="Choose a time">
                        <mat-option *ngFor="let time of reminders" [value]="time.viewTime">
                            <div fxFlex="35">{{time.viewPeriod}}</div>
                            <div fxFlex="40"></div>
                            <div fxFlex="35"><span>{{time.viewTime}}</span></div>
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="saveButton"><button mat-button>Save</button></div>
        </div>
    </mat-menu>

        <!----------------------- Reminder menu closes ---------------------------->
</div>

