/* .remind{
    background-position: center;
    height: 30px;
    opacity: .54;
    width: 30px;
    cursor: pointer;
    display: inline-block;
    outline: none!important;
} */
.remind 
{
    opacity: .54;
    float: left;
    cursor: pointer;
    margin-left: -5px;
    margin-top: -3px;
    margin-right: 6px;
}
.reminder
{
    margin-left: 10px;
}
.code
{
    float: right;
}
.menu
{
    width: 300px;
}
.coding
{
    margin-left: 30px;
}