/* .remind{
    background-position: center;
    height: 30px;
    opacity: .54;
    width: 30px;
    cursor: pointer;
    display: inline-block;
    outline: none!important;
} */
.remind 
{
    opacity: .54;
    float: left;
    cursor: pointer;
    margin-left: -5px;
    margin-top: -3px;
    margin-right: 6px;
}
// .laterToday{
//     margin-top: 15px;
// }
// .reminder
// {
//     margin-left: 10px;
// }
// .code
// {
//     float: right;
// }

// .coding
// {
//     margin-left: 95px;
// }
// ::ng-deep.mat-menu-content:not(:empty) {
//     width: 207px;
// }

// .dateInput{
//     padding-left: 30px;
// }
// ::ng-deep.mat-menu-panel{
//     overflow:hidden
// }
// .increase{
//     width: 207px;
// }
.reminderHeader{
    padding:15px;
}
// .todayTime{
//     padding-left: 50px;
// }
::ng-deep.mat-menu-content:not(:empty) {
    width: 100% !important;
}
// .firstMenu{
//     width: 250px; 
// }
// 
// ::ng-deep .mat-menu-panel{
//     width:250px;
// }
// ::ng-deep.mat-menu-content{
//     width:245px;
// }
::ng-deep .reminderMenu{
    width:240px;
}
