@import "../../../scss/mixin.scss"; 
@import "../../../scss/variables.scss";

.container{
    height: 100vh;    
}
.signup-heading{
    font-size: 30px;
}
.mat-card-subtitle{
   font-size: 20px;
   color: black;
}
.mat-card-content{
    font-size: 17px;
}
  .name-container{
      display: flex;       
}
.email{
  width:57%;
}
.firstname{
    margin-right: 5%;
}
.lastname{
  width: 27%;
}
.password-container{
    display: flex;
}
.password{
    margin-right: 5%;
  }
  /**************************Fundoo color ***********************************/
.signup-heading div:nth-child(1)
{
  color: $blue_color;
}
.signup-heading div:nth-child(2)
{
  color: $red_color;
}
.signup-heading div:nth-child(3)
{
  color: $yellow_color;
}
.signup-heading div:nth-child(4)
{
  color: $blue_color;
}
.signup-heading div:nth-child(5)
{
  color: $green_color;
}
.signup-heading div:nth-child(6)
{
  color: $red_color;
}
/***************************************************************************************/
.sign-container{
    font-size: 20px;
}
.footer{
  margin-top: -19px;
  font-size: 12px;
}
.username{
  margin-right: 22%;
}

.choose{
  @include choose($white_color);
  background:linear-gradient(to right, rgb(0, 0, 0), rgb(67, 67, 67));
  
}
.notchosen{
  @include choose($black_color);
  background: linear-gradient(to right, rgb(31, 64, 55), rgb(153, 242, 200));
}
.cards{
  cursor:$cursor_type;
}
.description{
font-size:12px
}
.card-title{
  font-size: 16px;
}
.image{
  width:80px;
  height:80px;
}
