$black_color:  #000000;
$yellow_color: #ebae16;
$white_color:  #dddde6;
$grey_color: #5f6368;
$router_color: #696969;
$green_color: #008000;
$blue_color: #0000ff;
$lightBlue_color : #2c70af;
$randomBlue_color: #0099ff;
$red_color: #ff0000;
$light_grey: #DCDCDC;
$black_light:#696969;
$reply_color:#333399;
$green_light:#1a6600;
$cyan_color:#00ffff;
$height: 41px;
$opacity: 1;
$opacity_property: 0.54;
$opacity_level: 0.5;
$cursor_type: pointer;
$cursor_text: text;
$margin: 10px;
$width_align: 80%

