@import "../../../scss/mixin.scss"; 
@import "../../../scss/variables.scss";

.container{
    height: 100vh;
    display : flex;
    align-items: center;
  }
  
   .heading{
    font-size: 22px;
  
  } 
 
  .heading div:nth-child(1)
  {
    color: $blue_color;
  }
  .heading div:nth-child(2)
  {
    color: $red_color;
  }
  .heading div:nth-child(3)
  {
    color: $yellow_color;
  }
  .heading div:nth-child(4)
  {
    color: $blue_color;
  }
  .heading div:nth-child(5)
  {
    color: $green_color;
  }
  .heading div:nth-child(6)
  {
    color: $red_color;
  }
  
  .matcard{
    width:1200px;
    height:300px;
    margin-block-end: 5%;
  }
  .password{
    width:100%;
  }
  .button{
    float:right;
  }
  .email{
    width:100%;
  }
  .subtitle{
    color: black;
    font-size: 18px;
  }
  
  
  
  
  
  
  
  