<div align-content="center" class="container" fxLayout="row" fxLayout.xs="row" 
fxLayoutAlign="center center" fxLayoutGap="10px" fxLayoutGap.xs="0">
  <div fxFlex="30" fxFlex.sm="80" fxFlex.md="60" fxFlex.lg="50" fxFlex.xl="30"></div>
  <div fxFlex="40" fxFlexOrder="3"></div>

  <mat-card class="matcard">
    <div class="heading" fxlayout="row" fxLayoutAlign="center center">
      <div>F</div>
      <div>U</div>
      <div>N</div>
      <div>D</div>
      <div>O</div>
      <div>O</div>
    </div><br>

    <mat-card-title class="account" fxLayout="row" fxLayoutAlign="center center"> 
          Account Recovery </mat-card-title><br>
    <mat-card-subtitle class="subtitle"> Enter your new password </mat-card-subtitle><br>

    <div class="password">
        <mat-form-field>
            <input matInput placeholder="Enter your password"  minlength="6" 
                    [formControl]="password"  [(ngModel)]="info.password" required 
                    [type]="hide ? 'password' : 'text'" 
        pattern='^(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[$@$!%*?&])[A-Za-z\d$@$!%*?&].{6,}$'>
            <mat-error *ngIf="password.invalid">{{getErrorMessagepassword()}}</mat-error>             
        </mat-form-field>
    </div>
    <div class="button">
      <button mat-raised-button color='primary' fxLayout="row" (click)=reset()>Submit</button>
    </div>

  </mat-card>
</div>